@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("public/images/me.jpg");
    z-index: -1;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}

.pagination {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

ul {
    list-style: none;
}

.pagination a {
    display: block;
    height: 35px;
    margin-bottom: 5px;
    color: #fff;
    position: relative;
    padding: 4px;
}

.pagination a .hover-text {
    position: absolute;
    right: 15px;
    top: -4px;
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    padding-right: 15px;
}

.pagination a:hover .hover-text {
    opacity: 1;
    color: #fff;
}

.pagination a:after {
    -webkit-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
    background: transparent;
    width: 15px;
    height: 15px;
    display: block;
    border: 2px solid;
    border-radius: 50%;
    content: '';
    position: absolute;
    margin-left: auto;
    top: 0;
    right: 4px;
    bottom: 0;
}

.pagination li a, .pagination li span {
    border: none;
    background: transparent;
    float: none;
    color: #fff;
}

.pagination a.active:after {
    box-shadow: inset 0 0 0 5px;
}

.pagination li a:hover, .pagination li a:focus {
    background: transparent;
    color: #00ACAC;
}

.hire-me {
    background: #fff;
    color: #00ACAC;
    font-weight: 700;
}

.hire-me:hover {
    background: #00ACAC;
    color: #fff;
}

@media (min-width: 992px) {
    #projects .project-text {
        opacity: 0;
        color: #fff;
        text-align: center;
        margin-top: 200px;
        min-height: 50px;
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        transition: all .5s ease-out;
    }
    #projects:hover .project-text {
        opacity: 1;
        background: rgba(0, 0, 0, 0.6);
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
}

.fa-angle-double-down, .fa-angle-double-up {
    font-size: 45px;
    color: #00ACAC;
    text-align: center;
    margin-top: -20px;
    transition: all .3s ease-out;
    cursor: pointer;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.fa-angle-double-down {
    padding-top: 4px;
}

.fa-angle-double-up {
    padding-bottom: 4px;
}

.fa-angle-double-down:hover, .fa-angle-double-up:hover {
    transform: scale(.75);
    color: #fff;
    transition: all .3s ease;
    background: #00ACAC;
}

#skills {
    background-color: #eee;
    font-size: 25px;
    color: #f7f7f7;
    min-height: 100%;
    position: relative;
}

.img-3 {
    background-color: #eee;
    min-height: 400px;
}

#home {
    position: relative;
    left: 0;
    padding-top: 15%;
    width: 100%;
    text-align: left;
    font-size: 135px;
    color: #fff;
    min-height: 100%;
}

#home span.border {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    border: 4px solid #fff;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

#about {
    color: #fff;
    background-color: #00ACAC;
    text-align: center;
    padding: 50px 80px;
    height: 100%;
    position: relative;
}

h3 {
    font-weight: 700;
    border: 3px solid #fff;
    color: #fff;
    padding: 20px;
    margin-bottom: 50px;
}

#projects {
    color: #fff;
    background-color: #00ACAC;
    text-align: center;
    padding: 50px 80px;
    height: 100%;
    position: relative;
}

#contact {
    text-align: center;
    padding: 50px;
    height: 100%;
    position: relative;
}

#hire-link {
    text-align: center;
    padding: 50px;
    height: 20%;
    position: relative;
    background-color: #555;
}

.social {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #00ACAC;
    color: #00ACAC;
    border-radius: 50%;
    min-width: 40px;
    min-height: 40px;
    margin: 3px;
    margin-bottom: 40px;
    margin-top: 60px;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.social:hover {
    background: #00ACAC;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.form-control {
    margin-bottom: 8px;
    height: 50px;
    background: rgba(255, 255, 255, 0.15);
}

@media (max-width: 767px) {
    body {
        background: #000;
    }
    #home {
        text-align: center;
    }
}

.btn-send {
    color: #fff;
    background-color: #00ACAC;
}

.btn-send:hover {
    background-color: #008989;
    color: #fff;
}

.btn-projects {
    color: #fff;
    background: transparent;
    border: 3px solid #fff;
    margin-bottom: 20px;
}

.btn-projects:hover {
    background-color: #008989;
    color: #fff;
}

.btn-hire {
    color: #fff;
    background-color: transparent;
    border: 3px solid #fff;
    margin-bottom: 20px;
}

.btn-hire:hover {
    color: #00ACAC;
    border: 3px solid #00ACAC;
}

@media (max-width: 767px) {
    #about {
        height: 180%;
    }
    .mobile-img {
        display: block;
    }
    .tablet-img {
        display: none;
    }
    .desktop-img {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #about {
        height: 145%;
    }
    .mobile-img {
        display: none;
    }
    .tablet-img {
        display: block;
    }
    .desktop-img {
        display: none;
    }
}

@media (min-width: 992px) {
    .mobile-img {
        display: none;
    }
    .tablet-img {
        display: none;
    }
    .desktop-img {
        display: block;
    }
    .btn-projects {
        margin-top: -150px
    }
}
